<?xml version="1.0"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2023 Techyouknow
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Techyouknow_SocialLoginHyva">
        <sequence>
            <module name="Techyouknow_SocialLogin"/>
            <module name="Hyva_Theme"/>
        </sequence>
    </module>
</config>
